<h1>Please sign in</h1>

<form method="post" action="/sessions">
	Email: <input type="text" name='email'>
	Password: <input type="password" name='password'>
	<input type="submit" value="Sign in">
</form>
<h2>Forgot your password?</h2>
<form method="post" action="/sessions/recover">
	Email: <input type="text" name='email'>
	<input type="submit" value="Recover password">
</form>