<html>
	<head>
		<title>Bookmark Manager</title>
	</head>
	<body>
	
  	<div id='links-container'>
  		<ul id='links'>
		 		<% @links.each do |link| %>
		 			<%= partial :link, :locals => {:link => link} %>
		 			<% end %>
		</ul>
		</div>
	</body>
</html>
